<div *ngIf="isGroupAdminOrSuperAdmin">
  <h2>Welcome to Users</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="chat" style="border-radius: 15px">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">Username and email</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" required />
                  <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email" required />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" (click)="addNewUser()">Add</button>
                  </div>
                </div>
              </form>
              <hr />
              <div class="overflow-auto" style="position: relative; height: 600px;">
                <ng-container *ngIf="usersList">
                    <div *ngFor="let user of usersList"> 
                      <div class="d-flex">
                        <p class="mt-2">{{user.username}}, {{user.email}}, {{user.id}}, {{user.role}}</p>
                        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToGroupAdmin(user)" class="btn btn-outline-info btn-sm m-2">Promote to Group Admin</button>
                        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToSuperAdmin(user)" class="btn btn-outline-info btn-sm m-2">Promote to Super Admin</button>
                        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="deleteUser(user)" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                      </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

