<div *ngIf="isGroupAdminOrSuperAdmin">
  <h2>Welcome to Users</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="chat" style="border-radius: 15px">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">Username and email</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" required />
                  <input type="text" class="form-control" [(ngModel)]="email" id="email" name="email" required />
                  <input type="text" class="form-control" [(ngModel)]="password" id="password" name="password" required />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" (click)="addNewUser()">Add</button>
                  </div>
                </div>
              </form>
              <hr />
              <div class="overflow-auto" style="position: relative; height: 600px;">
                <ng-container *ngIf="usersList">
                  <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">_id</th>
                          <th scope="col">Username</th>
                          <th scope="col">Email</th>
                          <th scope="col">Role</th>
                          <th scope="col"></th>
                      </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let user of usersList"> 
                          <tr>
                            <th scope="row">{{user._id}}</th>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                            <td>
                              <div class="d-flex">
                                <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToGroupAdmin(user._id)" class="btn btn-outline-info btn-sm m-2">Promote to Group Admin</button>
                                <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToSuperAdmin(user._id)" class="btn btn-outline-info btn-sm m-2">Promote to Super Admin</button>
                                <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="deleteUser(user._id)" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                      </table>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

