<nav class="navbar navbar-dark bg-gray-dark fixed-top">
    <div class="container-fluid justify-content-between">
        <div>
            <button class="navbar-toggler mx-2" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="offcanvasDarkNavbar" aria-controls="isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h1zM4 8h12v8h-5.277L7 18.234V16H4V8z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"></path></svg>
            <a class="navbar-brand mx-2" href="#">chatters</a>
        </div>
        <div>
            <button *ngIf="!isLoggedIn" type="button" (click)="navigateToLogin()" class="btn btn-outline-light my-2 my-sm-0">Login</button>
            <button *ngIf="isLoggedIn" type="button" (click)="logOut()" class="btn btn-outline-light my-2 my-sm-0">Log Out</button>
        </div>
        <div class="offcanvas offcanvas-start text-bg-dark" id="isCollapsed" [ngbCollapse]="isCollapsed" aria-labelledby="offcanvasDarkNavbarLabel" >
            <div class="offcanvas-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h1zM4 8h12v8h-5.277L7 18.234V16H4V8z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"></path></svg>
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">chatters</h5>
                <button type="button" class="btn-close btn-close-white" (click)="isCollapsed = !isCollapsed" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="d-flex justify-content-between">
                    <div class="col">
                        <div>
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" (click)="isCollapsed = !isCollapsed" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/groups">Groups</a>
                                </li>
                                <li *ngIf="isGroupAdminOrSuperAdmin" class="nav-item">
                                    <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/users">Users</a>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="isLoggedIn" class="mt-auto">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li *ngIf="isLoggedIn" class="nav-item">
                                    <a class="nav-link" (click)="isCollapsed = !isCollapsed" routerLink="/new">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>