<div class="container-fluid" style="height: 82vh;">
  <div class="row" style="height: inherit;">
    <div  class="col col-lg-3 border-end" style="height: inherit;">
        <div class="container-fluid" style="height: inherit;">
          <div class="overflow-auto" style="position: relative; height: inherit;">
            <div class="my-2">
              <div class="d-grid gap-3">
                <button type="button" class="btn btn-secondary" (click)="channelsIsCollapsed = !channelsIsCollapsed" [attr.aria-expanded]="!channelsIsCollapsed" aria-controls="channelsCollapse">
                  <div class="d-flex justify-content-between">
                    <div>Channels</div>
                    <div *ngIf="channelsIsCollapsed"> > </div>
                    <div *ngIf="!channelsIsCollapsed"> ∨ </div>
                  </div>
                </button>
              </div>
              <div id="channelsCollapse" [ngbCollapse]="channelsIsCollapsed">
                <form *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" class="m-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="New channel name..." [(ngModel)]="groupName" id="newChannelName" name="newChannelName" aria-label="Default" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                      <button class="btn btn-success" (click)="addNewChannel()">Add Channel</button>
                    </div>
                  </div>
                </form>
                <ng-container *ngIf="channels">
                  <div *ngFor="let channel of channels"> 
                    <div class="d-flex justify-content-between">
                      <div>
                        <div *ngIf="channel._id == currentChannel; else elseBlock">                      
                          <button type="button" (click)="joinChannel(channel._id)" class="btn btn-primary btn-sm m-2">{{ channel.name }}</button>
                        </div>
                        <ng-template #elseBlock>                      
                          <button type="button" (click)="joinChannel(channel._id)" class="btn btn-secondary btn-sm m-2">{{ channel.name }}</button>
                        </ng-template>
                      </div>
                      <form *ngIf="channel._id == currentChannel && (isGroupAdminOrSuperAdmin || isGroupAssis)" class="m-2">
                        <div class="input-group">
                          <input type="text" class="form-control-sm" placeholder="Enter email..." [(ngModel)]="inputEmail" id="inputEmail" name="inputEmail" aria-label="Default" aria-describedby="basic-addon2" required>
                          <div class="input-group-append">
                            <button *ngIf="isGroupAdminOrSuperAdmin" class="btn btn-success btn-sm" type="submit" (click)="addUserToGroup()">Add to Channel</button>
                          </div>
                        </div>
                      </form>
                      <button *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" type="button" class="btn btn-outline-danger btn-sm my-3" (click)="deleteChannel(channel._id)">Delete</button>
                    </div>
                    <div *ngIf="channel._id == currentChannel">
                      <div class="d-flex align-items-center justify-content-between m-2" *ngFor="let user of channel.users"> 
                        <div class="d-flex align-items-center">
                          <img src="http:\\localhost:3000\images\{{user.profileImage}}" style="width: 80px; clip-path: circle( 35% at 50% 50%)">
                          <p class="text-white">{{user.username}}</p>
                        </div>  
                        <button *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" type="button" (click)="removeUserFromChannel(channel._id, user._id)" class="btn btn-outline-danger btn-sm m-1">Remove</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            

            <div class="my-2">
              <div class="d-grid gap-3">
                <button type="button" class="btn btn-secondary" (click)="membersIsCollapsed = !membersIsCollapsed" [attr.aria-expanded]="!membersIsCollapsed" aria-controls="membersCollapse">
                  <div class="d-flex justify-content-between">
                    <div>Group Members</div>
                    <div *ngIf="membersIsCollapsed"> > </div>
                    <div *ngIf="!membersIsCollapsed"> ∨ </div>
                  </div>
                </button>
              </div>
              <div id="membersCollapse" [ngbCollapse]="membersIsCollapsed">
                <form *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" class="m-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter email..." [(ngModel)]="inputEmail" id="inputEmail" name="inputEmail" aria-label="Default" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                      <button *ngIf="isGroupAdminOrSuperAdmin" class="btn btn-success" type="submit" (click)="addUserToGroup()">Add to Group</button>
                    </div>
                  </div>
                </form>
                <ng-container *ngIf="group.users">
                  <div class="d-flex align-items-center justify-content-between m-2" *ngFor="let user of group.users"> 
                    <div class="d-flex align-items-center">
                      <img src="http:\\localhost:3000\images\{{user.profileImage}}" style="width: 80px; clip-path: circle( 35% at 50% 50%)">
                      <p class="text-white">{{user.username}}</p>
                    </div>  
                    <div>
                      <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToGroupAssis(user._id)" class="btn btn-outline-info btn-sm m-1">+</button>
                      <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="removeUserFromGroup(user._id)" class="btn btn-outline-danger btn-sm m-1">X</button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="my-2">
              <div class="d-grid gap-3">
                <button type="button" class="btn btn-secondary" (click)="assisIsCollapsed = !assisIsCollapsed" [attr.aria-expanded]="!assisIsCollapsed" aria-controls="assisCollapse">
                  <div class="d-flex justify-content-between">
                    <div>Group Assistants</div>
                    <div *ngIf="assisIsCollapsed"> > </div>
                    <div *ngIf="!assisIsCollapsed"> ∨ </div>
                  </div>
                </button>
              </div>
              <div id="assisCollapse" [ngbCollapse]="assisIsCollapsed">
                <form *ngIf="isGroupAdminOrSuperAdmin" class="m-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter email..." [(ngModel)]="inputEmail" id="inputEmail" name="inputEmail" aria-label="Default" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                      <button class="btn btn-success" type="submit" (click)="addUserToSelectedChannel()">Add to Channel</button>
                    </div>
                  </div>
                </form>
                <ng-container *ngIf="group.groupAssisUsers">
                  <div *ngFor="let user of group.groupAssisUsers"> 
                    <p class="text-white m-2">{{user}}</p>
                  </div>
                </ng-container>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="col" style="height: inherit;">
      <div class="d-flex justify-content-between">
        <h3 class="text-white">{{group.name}}</h3>
        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="deleteGroup()" class="btn btn-outline-danger btn-sm my-3">Delete Group</button>
      </div>
        <div class="container-fluid overflow-auto" style="height: inherit;">
            <div *ngFor="let message of messages"> 
                <div class="d-flex align-items-end justify-content-end" *ngIf="message.user._id == currentUserId; else elseBlock">                      
                  <div class="d-flex align-items-end justify-content-end" *ngIf="message.type === 'image'">
                    <img src="http:\\localhost:3000\images\{{message.message}}" style="max-height: 300px;">
                    <p class="small p-2 me-3 mb-1 rounded-3 text-light">{{ message.user.username }}</p>
                  </div>
                  <div *ngIf="message.type === 'text'">
                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-secondary">{{ message.user.username }}<br>{{ message.message }}</p>
                  </div>  
                  <img src="http:\\localhost:3000\images\{{message.user.profileImage}}" style="width: 100px; clip-path: circle( 35% at 50% 50%)">
                </div>
                <br>
                <ng-template #elseBlock>                      
                  <div *ngIf="message._id !== 'joined'" class="d-flex align-items-end justify-content-start">
                    <div>
                      <img src="http:\\localhost:3000\images\{{message.user.profileImage}}" style="width: 100px; clip-path: circle( 35% at 50% 50%)">
                    </div>
                    <div class="d-flex align-items-end justify-content-start" *ngIf="message.type === 'image'">
                      <img src="http:\\localhost:3000\images\{{message.message}}" style="max-height: 300px;">
                      <p class="small p-2 me-3 mb-1 rounded-3 text-light">{{ message.user.username }}</p>
                    </div>
                    <div *ngIf="message.type === 'text'">
                      <p class="small p-2 me-3 mb-1 rounded-3 bg-light">{{ message.user.username }}<br>{{ message.message }}</p>
                    </div>
                    <div>
                    </div>
                  </div>
                  <div *ngIf="message._id === 'joined' || message._id === 'hasLeft'" class="d-flex justify-content-start">
                    <p class="small p-2 me-3 mb-1 rounded-3 text-light">{{ message.message }}</p>
                  </div>
                </ng-template>
            </div>
        </div>
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-10">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter message..." [(ngModel)]="messageContent" id="messageContent" name="messageContent" aria-label="Default" aria-describedby="basic-addon2" required>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" (click)="sendMessage()">Send</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col">
              <form>
                <div class="input-group">
                  <input class="form-control form-control-sm" (change)="onFileSelected($event)" id="uploadFile" name="uploadFile" type="file">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" type="submit" (click)="onUpload()">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
