<!-- <div class="container">
    <form action="">
        <div class="form-group">
            <label for="messageContent">New Message</label>
            <input type="text" id="messageContent" name="messageContent" class="form-control"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Send</button>
        </div>
    </form>

    <li>message</li>
</div> -->

<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="chat" style="border-radius: 15px">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
                <button class="btn btn-primary">Channel</button><br><br>
                <button class="btn btn-primary">Channel</button><br><br>
                <button class="btn btn-primary">Channel</button><br><br>
                <button class="btn btn-primary">Channel</button><br><br>
            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                <div>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                    <li>message</li>
                </div>
                </div>
              <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                <input type="text" class="form-control form-control-lg" id="exampleFormControlInput2" placeholder="Type message">
                <button class="btn btn-primary mx-2">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
