<div class="d-flex justify-content-between">
  <h2>Welcome to "{{group.name}}"</h2>
  <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="deleteGroup()" class="btn btn-outline-danger btn-sm my-3" onclick="return confirm('Are you sure?')">Delete Group</button>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card" id="chat" style="border-radius: 15px">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
            <div class="overflow-auto" style="position: relative; height: 600px;">
              <h4>Channels</h4>
              <ng-container *ngIf="channels">
                <div *ngFor="let channel of channels"> 
                  <div class="d-flex justify-content-between">
                    <div>
                      <div *ngIf="channel._id == currentChannel; else elseBlock">                      
                        <button type="button" (click)="joinChannel(channel._id)" class="btn btn-primary btn-lg m-2">{{ channel.name }}</button>
                      </div>
                      <ng-template #elseBlock>                      
                        <button type="button" (click)="joinChannel(channel._id)" class="btn btn-secondary btn-lg m-2">{{ channel.name }}</button>
                      </ng-template>
                    </div>
                    <button *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" type="button" class="btn btn-outline-danger btn-sm my-3" (click)="deleteChannel(channel._id)" onclick="return confirm('Are you sure?')">Delete</button>
                  </div>
                  <div *ngIf="channel._id == currentChannel">
                    <div class="d-flex" *ngFor="let user of channel.users"> 
                      <p>{{user}}</p>
                      <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="removeUserFromChannel(channel._id, user)" class="btn btn-outline-danger btn-sm m-1">Remove</button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <hr>

            <form>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="New channel name..." [(ngModel)]="groupName" id="newChannelName" name="newChannelName" aria-label="Default" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                  <button *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" class="btn btn-primary mx-2" (click)="addNewChannel()">New Channel</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-6 col-lg-7 col-xl-8">
            <div class="overflow-auto" style="position: relative; height: 600px;">
              <div *ngFor="let message of messages"> 
                <li>{{ message.user_id }}</li>
                <li>{{ message.message }}</li>
              </div>
            </div>
            <form>
              <div class="input-group pt-4">
                <input type="text" class="form-control" placeholder="Enter message..." [(ngModel)]="messageContent" id="messageContent" name="messageContent" aria-label="Default" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" (click)="sendMessage()">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form>
  <div *ngIf="isGroupAdminOrSuperAdmin || isGroupAssis" class="input-group pt-4">
    <input type="text" class="form-control" placeholder="Enter email..." [(ngModel)]="inputEmail" id="inputEmail" name="inputEmail" aria-label="Default" aria-describedby="basic-addon2" required>
    <div class="input-group-append">
      <button *ngIf="isGroupAdminOrSuperAdmin" class="btn btn-primary" type="submit" (click)="addUserToGroup()">Add to Group</button>
      <button class="btn btn-primary" type="submit" (click)="addUserToSelectedChannel()">Add to Channel</button>
    </div>
  </div>
</form>
<div class="d-flex justify-content-around">
  <div>
    <h3>Group Members</h3>
    <ng-container *ngIf="group.users">
      <div class="d-flex flex-row align-items-center" *ngFor="let user of group.users"> 
        <p class="mt-2 mx-5">{{user}}</p>
        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="promoteToGroupAssis(user)" class="btn btn-outline-info btn-sm m-1">Promote to Group Assis</button>
        <button *ngIf="isGroupAdminOrSuperAdmin" type="button" (click)="removeUserFromGroup(user)" class="btn btn-outline-danger btn-sm m-1">Remove</button>
      </div>
    </ng-container>
  </div>
  <div>
    <h3>Group Assis</h3>
    <ng-container *ngIf="group.groupAssisUsers">
      <div *ngFor="let user of group.groupAssisUsers"> 
        <p class="mt-3 mx-5">{{user}}</p>
      </div>
    </ng-container>
  </div>

</div>


