<h2>Welcome to "{{group.id}}"</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card" id="chat" style="border-radius: 15px">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
            <div class="overflow-auto" style="position: relative; height: 600px;">
                <ng-container *ngIf="group.channels">
                    <div class="d-flex justify-content-between" *ngFor="let channel of group.channels"> 
                        <!-- if user is in channel -->
                        <div *ngIf="!channel.active; else elseBlock">
                          <button type="button" (click)="changeChannel(channel)" class="btn btn-secondary btn-lg m-2">{{ channel.name }}</button>
                        </div>
                        <ng-template #elseBlock>
                          <button type="button" (click)="changeChannel(channel)" class="btn btn-primary btn-lg m-2">{{ channel.name }}</button>
                        </ng-template>
                        <button type="button" (click)="deleteChannel(channel.id)" class="btn btn-outline-danger btn-sm my-3">Delete</button>
                        <!-- for each user in channel display username -->
                        <!--  -->
                    </div>
                </ng-container>
            </div>
            <hr>
            <button class="btn btn-primary mx-2" (click)="addNewChannel()">New Channel</button>
          </div>

          <div class="col-md-6 col-lg-7 col-xl-8">
            <div class="overflow-auto" style="position: relative; height: 600px;">
                <ng-container *ngIf="currentChannel">
                    <div *ngFor="let message of currentChannel.messageHistory"> 
                        <li>{{ message }}</li>
                    </div>
                </ng-container>
            </div>
            <form>
              <div class="input-group pt-4">
                <input type="text" class="form-control" placeholder="Enter message..." [(ngModel)]="messageContent" id="messageContent" name="messageContent" aria-label="Default" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" (click)="addNewMessage()">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

